<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/hover.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
</head>
<body>
    <nav id="nav" class="navbar navbar-inverse navbar-fixed-top customNav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="glyphicon glyphicon-chevron-down collapseicon"></span>
                </button>
                <a href="@Url.Action("Index","Home")"><img src="~/Images/hopprlab_logo.png" class="navbar-brand" /></a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right nav-padding-top">
                    <li><a href="@Url.Action("Index","Web")" class="pointer nav-title">WEB</a></li>
                    <li><a href="@Url.Action("Index","Mobile")" class="pointer nav-title">MOBILE</a></li>
                    <li><a href="@Url.Action("Index","Home")" class="pointer nav-title">ANALYTICS</a></li>
                    <li><a href="@Url.Action("Index","Home")" class="pointer nav-title">IoT</a></li>
                </ul>
            </div>
        </div>
    </nav>

        @RenderBody()
        
        @*<footer class="layout-footer">
            <div class="footer-div1"></div>
            <div class="footer-div2">*@
    <hr />
                <center>
                    <span>Copyright 2017 Asian Hospital and Medical Center. All rights reserved.</span>
                </center>
            @*</div>
            <div class="footer-div3"></div>
        </footer>*@


    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

